<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Create this Patient crud app using Mean stack framework
      </p>
      <div ng-if="!authentication.user">
        <h2>Extra feature</h2>
        <h4>To create new patient you must either register or login</h4>
      </div>

    </div>

  </div>

</section>
